[Desktop Entry]
Version=1.0
Name[am]=Xfce ክፍለ ጊዜ
Name[ar]=جلسة Xfce
Name[ast]=Sesión de Xfce
Name[az_AZ]=Xfce Oturumu
Name[az]=Xfce Oturumu
Name[be]=Сеанс Xfce
Name[be@tarask]=Сэанс Xfce
Name[bg]=Xfce сесия
Name[ca]=Sessió Xfce
Name[cs]=Relace prostředí Xfce
Name[da]=Session til Xfce
Name[de]=Xfce-Sitzung
Name[el]=Συνεδρία Xfce
Name[en_AU]=Xfce Session
Name[en_CA]=Xfce Session
Name[en_GB]=Xfce Session
Name[eo]=Xfce-seanco
Name[es]=Sesión de Xfce
Name[et]=Xfce sessioon
Name[eu]=Xfce saioa
Name[fa_IR]=نشست Xfce
Name[fi]=Xfce-istunto
Name[fr]=Session Xfce
Name[gl]=Sesión de Xfce
Name[he]=סשן Xfce
Name[hi]=एक्सएफसीई सत्र
Name[hr]=Xfce sesija
Name[hu]=Xfce munkamenet
Name[hy_AM]=Xfce Նիստ
Name[hye]=Xfce նիստ
Name[id]=Sesi Xfce
Name[ie]=Session Xfce
Name[is]=Xfce seta
Name[it]=Sessione di Xfce
Name[ja]=Xfce セッション
Name[ka]=Xfce სესია
Name[kk]=Xfce сессиясы
Name[ko]=Xfce 세션
Name[lt]=Xfce seansas
Name[ms]=Sesi Xfce
Name[nb]=Xfce-økt
Name[nl]=Xfce-sessie
Name[nn]=Xfce-økt
Name[oc]=Sesilha Xfce
Name[pl]=Sesja Xfce
Name[pt_BR]=Sessão do Xfce
Name[pt]=Sessão Xfce
Name[ro]=Sesiune Xfce
Name[ru]=Сеанс
Name[sk]=Sedenie Xfce
Name[sl]=Xfce Seja
Name[sq]=Sesion Xfce
Name[sr]=Седница ИксФЦЕ-а
Name[sv]=Xfce Session
Name[te]=Xfce సెషన్
Name[th]=วาระ Xfce
Name[tr]=Xfce Oturumu
Name[ug]=Xfce ئەڭگىمەسى
Name[uk]=Сеанс Xfce
Name[vi]=Phiên chạy Xfce
Name[zh_CN]=Xfce 会话
Name[zh_HK]=Xfce 工作階段
Name[zh_TW]=Xfce 工作階段
Name=Xfce Session
Comment[ar]=استعمل هذه الجلسة لتشغيل Xfce كسطح مكتب
Comment[ast]=Usa esta sesión pa executar Xfce como'l to entornu d'escritoriu
Comment[az_AZ]=Xfce'ni öz iş qoyacağı ortamınız kimi işlətmək üçün bu oturumu işlədin
Comment[az]=Xfce'ni öz iş qoyağı ortamınız kimi başlatmaq üçün bu oturumu seçin
Comment[be]=Выкарыстайце гэты сеанс для запуску працоўнага асяроддзя Xfce
Comment[be@tarask]=Выкарыстайце гэты сэанс для запуску асяродьдзя Xfce
Comment[bg]=Използвайте тази сесия за стартиране на Xfce като вашата графична среда
Comment[ca]=Empra aquesta sessió per executar l'Xfce com el vostre entorn d'escriptori
Comment[cs]=Použít tuto relaci ke spuštění Xfce jako vašeho pracovního prostředí
Comment[da]=Brug denne session til at køre Xfce som dit skrivebord
Comment[de]=Wählen Sie diese Sitzung, um Xfce als Ihre Arbeitsumgebung auszuführen
Comment[el]=Χρήση αυτής της συνεδρίας για την επιλογή του Xfce ως περιβάλλον εργασίας
Comment[en_AU]=Use this session to run Xfce as your desktop environment
Comment[en_CA]=Use this session to run Xfce as your desktop environment
Comment[en_GB]=Use this session to run Xfce as your desktop environment
Comment[es]=Use esta sesión para ejecutar Xfce como entorno de escritorio
Comment[et]=Kasuta seda sessiooni Xfce käivitamiseks oma töölauakeskkonnana
Comment[eu]=Erabili saio hau Xfce mahaigain ingurune gisa exekutatzeko.
Comment[fa_IR]=از این نشست برای اجرای Xfce به عنوان محیط میزکارتان استفاده کنید
Comment[fi]=Valitse tämä istunto käyttääksesi Xfce-työpöytäympäristöä 
Comment[fr]=Utilisez cette session pour exécuter Xfce comme environnement de bureau
Comment[gl]=Empregar esta sesión para executar Xfce como ambiente de escritorio
Comment[he]=השתמש בסשן זה כדי להריץ את Xfce בתור סביבת העבודה שלך
Comment[hi]=इस सत्र द्वारा एक्सएफसीई डेस्कटॉप वातावरण उपयोग करें
Comment[hr]=Koristite ovu sesiju da bi pokrenuli Xfce kao vaše radno okruženje
Comment[hu]=Használja ezt a munkamenetet az Xfce futtatásához asztali környezetként
Comment[hy_AM]=Գործածէք այս նիստը, գործարկելու համար Xfce աշխատասեղանի միջավայրը
Comment[hye]=Գործածէք այս նիստը, գործարկելու համար Xfce աշխատասեղանի միջավայրը
Comment[id]=Gunakan sesi ini untuk menjalankan Xfce sebagai lingkungan desktop anda
Comment[ie]=Usa ti-ci session por lansar Xfce quam vor ambientie
Comment[is]=Notaðu þessa setu til að keyra Xfce sem skjáborðsumhverfi
Comment[it]=Usare questa sessione per avviare Xfce come ambiente grafico
Comment[ja]=Xfce をデスクトップ環境として起動するためにこのセッションを使用します
Comment[kk]=Бұл сессияны негізгі жұмыс үстел ортасы ретінде Xfce-ні қолдану үшін қолданыңыз
Comment[ko]=데스크톱 환경으로서 Xfce를 실행하기 위해 이 세션을 사용합니다
Comment[lt]=Naudoti šį seansą, kad Xfce būtų naudojama kaip jūsų darbastalio aplinka
Comment[ms]=Gunakan sesi ini untuk jalankan Xfce sebagai persekitaran desktop anda
Comment[nb]=Bruk Xfce som skriveborsmiljø for denne økta
Comment[nl]=Gebruik deze sessie om Xfce te draaien als uw werkomgeving
Comment[nn]=Bruk denne økta for å køyra Xfce som skrivebordsmiljø
Comment[oc]=Utilizatz aquesta sesilha per executar Xfce coma environament de burèu
Comment[pl]=Uruchamia sesję środowiska graficznego Xfce
Comment[pt_BR]=Usar esta sessão para executar o Xfce como seu ambiente de trabalho
Comment[pt]=Usar esta sessão para executar o Xfce como ambiente de trabalho
Comment[ro]=Utilizați această sesiune pentru a rula Xfce ca mediu grafic de birou
Comment[ru]=Используйте этот сеанс, чтобы сделать Xfce вашим окружением
Comment[sk]=Použite toto sedenie pre spustenie Xfce ako vášho pracovného prostredia
Comment[sl]=Uporabite to sejo za zagon Xfce kot vašega namizja
Comment[sq]=Përdoreni këtë sesion që të xhironi Xfce-në si mjedisin tuaj desktop
Comment[sr]=Користите ову седницу да покренете ИксФЦЕ као ваше радно окружење
Comment[sv]=Använd denna session för att köra Xfce som din skrivbordsmiljö
Comment[th]=ใช้วาระนี้เพื่อเรียกใช้ Xfce เป็นเดสก์ท็อปของคุณ
Comment[tr]=Xfce'yi masaüstü ortamınız olarak kullanmak için bu oturumu kullanın
Comment[ug]=مەزكۇر ئەڭگىمەدە ئۈستەلئۈستى ئۈچۈن Xfce ئىشلىتىلىدۇ
Comment[uk]=Використайте цей сеанс для запуску Xfce як Вашого типого середовища.
Comment[vi]=Sử dụng phiên chạy này để dùng Xfce như môi trường làm việc của bạn
Comment[zh_CN]=使用此会话将 Xfce 作为您的桌面环境运行
Comment[zh_HK]=使用這個工作階段來執行 Xfce 作為桌面環境
Comment[zh_TW]=使用這個工作階段來執行 Xfce 作為您的桌面環境
Comment=Use this session to run Xfce as your desktop environment
Exec=dbus-launch startxfce4
Icon=
Type=Application
DesktopNames=XFCE
Keywords[bg]=xfce;сесия;десктоп;работна среда;мениджър на прозорци;графичен интерфейс;
Keywords[ca]=xfce;sessió;escriptori;entorn;gestor de finestres;igu;
Keywords[cs]=xfce;relace;plocha;prostředí;správce oken;gui;
Keywords[da]=xfce;session;skrivebord;miljø;vindueshåndtering;gui;
Keywords[de]=\sxfce;Sitzung; Schreibtisch;Umgebung;Fenstermanager;GUI;
Keywords[en_GB]=xfce;session;desktop;environment;window manager;gui;
Keywords[es]=xfce;sesión;escritorio;entorno;gestor de ventanas;gui;
Keywords[et]=xfce;sessioon;töölaud;töölaua;keskkond;aknahaldur;kasutajaliides;gui;
Keywords[eu]=xfce;saioa;mahaigaina;ingurumena;leiho-kudeatzailea;interfaze-grafikoa;
Keywords[fr]=xfce;session;desktop;environment;window manager;gui;bureau;environnement;gestionnaire de fenêtres;interface graphique;
Keywords[gl]=xfce;session;desktop;environment;window manager;gui;sesión;escritorio;contorno;xestor xanelas;interface;
Keywords[he]=xfce;session;desktop;environment;window manager;gui;
Keywords[it]=xfce;session;desktop;environment;window manager;gui;
Keywords[ja]=xfce;セッション;デスクトップ;環境;ウィンドウマネージャー;GUI;
Keywords[kk]=xfce;session;desktop;environment;window manager;gui;сеанс;сессия;жұмыс үстелі;жұмыс ортасы;терезелер басқарушысы;графикалық интерфейс;
Keywords[lt]=xfce;seansas;seansai;sesija;sesijos;seansų;seansu;sesijų;sesiju;darbalaukis;darbastalis;darbalaukio;darbastalio;aplinka;langų tvarkytuvė;langu tvarkytuve;gui;grafinė naudotojo sąsaja;grafine naudotojo sasaja;
Keywords[nl]=xfce;sessie;werkomgeving;vensterbeheerder;grafisch;
Keywords[oc]=xfce;session;sesilha;burèu;environament;fenèstra;gestionari;giu;
Keywords[pl]=xfce;sesja;pulpit;środowisko;menedżer okien;gui;interfejs;
Keywords[pt_BR]=xfce;sessão;desktop;desktop;ambiente;gerenciador de janelas;gui;
Keywords[pt]=xfce;sessão;desktop;ambiente;gestor de janelas;gui;
Keywords[ro]=xfce;sesiune;birou;mediu;administrator ferestre;interfață grafică;
Keywords[ru]=xfce;сеанс;рабочий стол;окружение;оконный менеджер;графический интерфейс;
Keywords[sk]=xfce;session;desktop;environment;window manager;gui;
Keywords[sq]=xfce;sesion;desktop;mjedis;përgjegjës dritaresh;gui;
Keywords[sr]=иксфце;радна површ;окружење;управник прозора;сликовно окружење;
Keywords[sv]=xfce;session;skrivbord;miljö;fönsterhanterare;gui;
Keywords[tr]=xfce;session;desktop;environment;window manager;gui;
Keywords[uk]=xfce;сеанс;робочий стіл;середовище;віконний менеджер;gui;
Keywords[zh_CN]=xfce;session;desktop;environment;window manager;gui;会话;桌面;环境;窗口管理;
Keywords[zh_TW]=xfce;session;desktop;environment;window manager;gui;
Keywords=xfce;session;desktop;environment;window manager;gui;
